# Copia este archivo a .env y configura tus credenciales de Telegram
TELEGRAM_BOT_TOKEN=tu_token_de_bot
TELEGRAM_CHAT_ID=tu_chat_id
PORT=3000
ARDUINO_PORT=COM3
# Puerto del Arduino con sensor de temperatura DHT11 y control de ventilador
TEMP_PORT=COM4
