# Copia este archivo a .env y configura tus credenciales de Telegram
TELEGRAM_BOT_TOKEN=tu_token_de_bot
TELEGRAM_CHAT_ID=tu_chat_id
PORT=3000
ARDUINO_PORT=COM5
FEEDING_DEVICE_IP=10.236.206.79
FEEDING_DEVICE_PORT=80
